.reveal section ul {
  display: inline-block;
  list-style-position: inside;
}

.reveal section ul.a {
  list-style: none;
  list-style-position: outside;
}

.reveal ul.a li::marker {
		content:"\27A4 \0020";
}


.reveal section li {
  background-color: rgba(255,255,255,0.8);
}


.reveal section intro {
  background-color: rgba(255,255,255,0.5);
}


.reveal section ol {
  list-style-position: outside;
}


.reveal div.b {
  text-align: left;
}



#nextsteps {
   h1 {
     background-color: rgba(255,255,255,0.5);
  
}
}